@import '../_global';

nav {
    max-width: 1700px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 75px;
    margin: 0 auto;
    height: 80px;
    z-index: 20;

    .logo {
        font-size: 4rem;
        cursor: pointer;
    }

    .nav-links {
        list-style: none;
        display: flex;

        a {
            font-size: 1.8rem;
            margin-left: 2rem;
            cursor: pointer;
            text-decoration: none;

            &:first-child {
                margin: 0;
            }

        }
    }

    .active {
        border-bottom: 2px solid $white;
    }

    .client-btn {
        font-size: 1.4rem;
        background: $green;
        padding: 1rem 5rem;
        text-transform: uppercase;
        cursor: pointer;
    }


    @media screen and (min-width: 1720px) {
        & {}

    }

    @media screen and (max-width: 939px) {
        .sidebar {
            display: flex;
        }

        & {
            .nav-links {
                display: none;
            }

            .client-btn {
                display: none;
            }
        }
    }
}



@media screen and (max-width: 768px) {
    nav {
        padding: 0 25px;
    }
}