.history {
    min-height: calc(100vh - 80px);
    // min-height: 100vh;
    max-width: 1700px;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 100px 1fr;
    grid-template-rows: 75px 150px 1fr 75px;
    margin: 0 auto;

    // .history-img {
    //     // grid-row: 2/4;
    //     // grid-column: 1/3;
    //     // background: url("../../assets/images/gym.jpg") no-repeat;
    //     // background-position: center;
    //     // background-size: cover;
    //     // background-blend-mode: multiply;
    //     // background-color: rgba(0, 0, 0, .4);

    // }

    .video-wrapper {
        position: relative;
        grid-row: 2/4;
        grid-column: 1/3;
        width: 100%;
        height: 100%;

        .history-video {
            object-fit: cover;
            width: 100%;
            height: 100%;
            outline: none;

            &.filter {
                opacity: .4;
            }

        }

        .playPause {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }

    }


    .history-title {
        grid-row: 2;
        grid-column: 2/4;
        font-size: 5rem;
        margin-top: auto;
        z-index: 5;

    }

    .history-container {
        grid-row: 3;
        grid-column: 3;
        padding: 5rem 5rem 0 5rem;


        .history-text {
            font-size: 1.6rem;
            line-height: 2.5rem;
            letter-spacing: 1px;
            word-wrap: break-word;

            &:nth-child(2) {
                margin-top: 5rem;
            }

        }

        .history-info {
            margin-top: 3rem;
            display: flex;
            grid-gap: 2rem;

            .container {
                margin-right: 5rem;

                &:last-child {
                    margin: 0;
                }

                .number {
                    margin-top: 2rem;
                    font-size: 2.75rem;
                }

                .text {
                    font-family: $header-font;
                    font-size: 1.2rem;
                    letter-spacing: 1px;
                    font-weight: bold;
                    text-transform: uppercase;
                }

            }
        }
    }

}


@media screen and (min-width: 1720px) {
    .history {
        .history-title {
            font-size: 5.5rem;
        }

        .history-container {

            padding: 7rem 7rem 0 7rem;

            .history-text {
                font-size: 1.8rem;
            }

            .history-info {
                .container {
                    .number {
                        margin-top: 3rem;
                        font-size: 3rem;
                    }

                    .text {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .history {

        .history-container {
            .history-text {
                font-size: 1.4rem;
            }

            .history-info {
                .container {
                    .number {
                        font-size: 2.5rem;
                    }

                    .text {
                        font-size: 1.1rem;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .history {
        grid-template-columns: minmax(200px, 1fr) 100px minmax(450px, 1fr);

        .history-title {
            font-size: 4rem;

        }

        .history-container {
            padding: 5rem 5rem 0 5rem;

            .history-text {
                font-size: 1.4rem;

                &:nth-child(2) {
                    margin-top: 2rem;
                }

            }

            .history-info {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .container {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    .number {
                        font-size: 2rem;
                    }

                    .text {
                        font-size: 1rem;
                        word-wrap: break-word;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .history {
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 50px 125px 1fr 50px;

        // .history-img {
        //     grid-column: 1/4;
        //     background-color: rgba(0, 0, 0, .85);
        // }
        .video-wrapper {
            grid-column: 1/4;
        }



        .history-title {
            font-size: 3.5rem;
            grid-column: 2;
            margin: auto 0;


        }

        .history-container {
            grid-column: 2;
            grid-row: 3;
            padding: 3rem 0 0 0;

            .history-text {

                &:nth-child(2) {
                    margin-top: 3rem;
                }

            }

            .history-info {

                .container {
                    .number {
                        margin-top: 1rem;
                        font-size: 2.25rem;
                    }

                    .text {
                        font-size: 1.2rem;
                        word-wrap: break-word;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 564px) {
    .history {
        grid-template-columns: 50px 1fr 50px;

        .history-title {
            font-size: 3.15rem;
        }

        .history-container {
            .history-info {
                .container {
                    .number {
                        font-size: 2rem;
                    }

                    .text {
                        font-size: 1rem;
                        word-wrap: break-word;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .history {
        grid-template-columns: 30px 1fr 30px;
        grid-template-rows: 50px 85px 1fr 50px;

        .history-title {
            font-size: 2.75rem;
        }

        .history-container {
            .history-text {
                font-size: 1.4rem;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .history {
        .history-title {
            font-size: 2.5rem;
        }

        .history-container {
            .history-text {
                font-size: 1.2rem;
            }

            .history-info {
                .container {
                    .number {
                        font-size: 2rem;
                    }

                    .text {
                        font-size: 1rem;
                        word-wrap: break-word;
                    }

                }
            }
        }
    }
}



.video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
    outline: none;
    border: 1px solid $green;
    cursor: pointer;

    &.hide {
        display: none;
    }
}

.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: $green;
    border-radius: 50%;
    border: 1px solid $green;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: $green;
    border-radius: 50%;
    border: 1px solid $green;
    transition: all 200ms;
}

.video-play-button:hover {
    border: 1px solid darken($green, 10%);

}

.video-play-button:hover:after {
    background-color: darken($green, 10%);
    border: 1px solid darken($green, 10%);
}

.video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}