@import '../_global';

.hero {
    // min-height: calc(100vh - 80px);
    // height: 100vh;
    height: calc(100vh - 80px);
    max-width: 1700px;
    display: grid;
    grid-template-columns: 300px 100px 1fr;
    grid-template-rows: 50px minmax(500px, 1fr) 50px;
    padding-left: 75px;
    // padding-top: 80px;
    margin: auto auto;
    // margin-top: -80px;


    .hero-img {
        grid-row: 2;
        grid-column: 2/4;
        background: url("../../assets/images/bild3.jpg") no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0, .7);

    }

    .hero-container {
        grid-row: 2;
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        z-index: 3;

        .hero-title {
            font-size: 6rem;
            margin-bottom: 4rem;
            margin-top: 5rem;
        }

        .hero-btn {
            font-size: 2.75rem;
            padding: 2rem 0;
            background: $green;
            letter-spacing: 1px;
            cursor: pointer;
            width: 370px;
            text-align: center;
            text-decoration: none;

        }
    }

    .next {
        grid-row: 3;
        grid-column: 1/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1rem;
        cursor: pointer;

        .next-title {
            font-size: 1.2rem;
            font-family: $header-font;
            color: $white;
            text-transform: uppercase;
        }

        .fontAwesome {
            color: $white;
            font-size: 1.2rem;
        }
    }
}

@media screen and (min-width: 1720px) {
    .hero {
        padding-right: 50px;
        grid-template-columns: 300px 200px 1fr;

        .hero-container {
            .hero-title {
                font-size: 6.5rem;
            }

            .hero-btn {
                font-size: 3rem;
                padding: 2rem 0;

                width: 400px;
                text-align: center;
                text-decoration: none;

            }
        }
    }
}


@media screen and (max-width: 1048px) {
    .hero {
        .hero-container {
            .hero-title {
                font-size: 5rem;
            }

            .hero-btn {
                font-size: 2.5rem;
                padding: 1.75rem 0;
                width: 310px;

            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        height: 100vh !important;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 50px;
        padding: 0;
        margin-top: -80px;

        .hero-img {
            grid-row: 1/3;
            grid-column: 1;
            background-color: rgba(0, 0, 0, .8);
        }

        .hero-container {
            grid-row: 1/3;
            grid-column: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .hero-title {
                font-size: 5rem;
            }

            .hero-btn {
                font-size: 2rem;
                padding: 1.75rem 0;
                width: 310px;

            }
        }

        .next {
            grid-row: 2;
        }
    }
}

@media screen and (max-width: 425px) {
    .hero {


        .hero-container {
            align-items: center;
            justify-content: center;

            .hero-title {
                margin-top: 0;
                font-size: 4rem;
            }

            .hero-btn {
                font-size: 1.5rem;
                padding: 1.5rem 0;
                width: 250px;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .hero {
        .hero-container {

            .hero-title {
                font-size: 3.5rem;
            }

            .hero-btn {
                font-size: 1.5rem;
                padding: 1.25rem 0;
                width: 215px;
            }
        }
    }
}