@import '../_global';


.history {
    min-height: 100vh;
    max-width: 1700px;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 100px 1fr;
    grid-template-rows: 75px 150px 1fr 75px;
    margin: 0 auto;

    .history-img {
        grid-row: 2/4;
        grid-column: 1/3;
        // width: 100%;
        background: url("../../assets/images/gym.jpg") no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0, .4);

    }


    .history-title {
        grid-row: 2;
        grid-column: 2/4;
        font-size: 5rem;
        margin-top: auto;

    }

    .history-container {
        grid-row: 3;
        grid-column: 3;
        padding: 5rem 5rem 0 5rem;


        .history-text {
            font-size: 1.6rem;
            line-height: 2.5rem;
            letter-spacing: 1px;
            word-wrap: break-word;

            &:nth-child(2) {
                margin-top: 5rem;
            }

        }

        .history-info {
            margin-top: 3rem;
            display: flex;

            .container {
                margin-right: 5rem;

                &:last-child {
                    margin: 0;
                }

                .number {
                    margin-top: 2rem;
                    font-size: 3rem;
                }

                .text {
                    font-family: $header-font;
                    font-size: 1.2rem;
                    letter-spacing: 1px;
                    font-weight: bold;
                    text-transform: uppercase;
                }

            }
        }
    }

}


@media screen and (min-width: 1720px) {
    .history {
        .history-title {
            font-size: 5.5rem;
        }

        .history-container {

            padding: 7rem 7rem 0 7rem;

            .history-text {
                font-size: 1.8rem;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .history {

        .history-container {
            .history-text {
                font-size: 1.4rem;
            }

            .history-info {
                .container {
                    .number {
                        font-size: 2.5rem;
                    }

                    .text {
                        font-size: 1.1rem;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .history {
        grid-template-columns: minmax(200px, 1fr) 100px minmax(450px, 1fr);

        .history-title {
            font-size: 4rem;

        }

        .history-container {
            padding: 5rem 5rem 0 5rem;

            .history-text {
                font-size: 1.4rem;

                &:nth-child(2) {
                    margin-top: 2rem;
                }

            }

            .history-info {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .container {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    .number {
                        font-size: 2rem;
                    }

                    .text {
                        font-size: 1rem;
                        word-wrap: break-word;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .history {
        grid-template-columns: 75px 1fr 75px;
        grid-template-rows: 50px 125px 1fr 50px;

        .history-img {
            grid-column: 1/4;
            background-color: rgba(0, 0, 0, .85);
        }


        .history-title {
            font-size: 3.5rem;
            grid-column: 2;
            margin: auto 0;


        }

        .history-container {
            grid-column: 2;
            grid-row: 3;
            padding: 2rem 0 0 0;

            .history-text {

                &:nth-child(2) {
                    margin-top: 3rem;
                }

            }

            .history-info {
                .container {
                    .number {
                        margin-top: 1rem;
                        font-size: 2.25rem;
                    }

                    .text {
                        font-size: 1.2rem;
                        word-wrap: break-word;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 564px) {
    .history {
        grid-template-columns: 50px 1fr 50px;

        .history-title {
            font-size: 3rem;
        }

        .history-container {
            .history-text {}
        }

        .history-container {
            .history-info {
                .container {
                    .number {
                        font-size: 2rem;
                    }

                    .text {
                        font-size: 1rem;
                        word-wrap: break-word;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .history {
        grid-template-columns: 30px 1fr 30px;
        grid-template-rows: 50px 85px 1fr 50px;

        .history-title {
            font-size: 2.75rem;
        }

        .history-container {
            .history-text {
                font-size: 1.4rem;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .history {
        .history-title {
            font-size: 2.5rem;
        }


        .history-container {
            .history-text {
                font-size: 1.2rem;
            }

            .history-info {
                .container {
                    .number {
                        font-size: 2rem;
                    }

                    .text {
                        font-size: 1rem;
                        word-wrap: break-word;
                    }

                }
            }
        }
    }
}