@import '../_global';

.layout {
    position: relative;
    display: grid;
    grid-template-columns: 150px 2fr 1fr 150px;
    grid-template-rows: 80px calc(100vh - 80px) 100vh 300px minmax(300px, 1fr);
    grid-template-areas:
        "head       head        head        head"
        ".          hero        hero        hero"
        "history    history     history     ."
        "news       news        news        news"
        "footer     footer      footer      footer";


}

nav {
    grid-area: head;
}

.hero {
    grid-area: hero;
}

.history {
    grid-area: history;
}

.read-more {
    float: right;
    font-size: 1.4rem;
    letter-spacing: 1px;
    // text-decoration: underline;

    .fontAwesome {
        margin-left: .5rem;
    }
}

.news-letter {
    grid-area: news;
}



.footer {
    // height: 100%;
    grid-area: footer;
}