@import '../_global';

.layout {
    .hero {
        height: calc(100vh - 80px);
    }
}



.read-more {
    float: right;
    font-size: 1.4rem;
    letter-spacing: 1px;
    // text-decoration: underline;

    .fontAwesome {
        margin-left: .5rem;
    }
}